button {
  width: 250px;
  height: 80px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: white;
  border: 2px solid rgb(2, 2, 2);
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
  font-size: 35px;
}

button:hover {
  background-color: rgb(100, 15, 15) ;
}

.button-click {
  background-color: rgb(203, 160, 5);
} 

.button-restart {
  background-color: rgb(151, 14, 89) ;
}